<mat-toolbar color="primary" >
    <span id = "titreApp">Punch'r</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <span flex></span>
    <div layout="row" layout-align="end center">
        <a href="workspaces" class="menuItem"><i _ngcontent-c3="" class="material-icons">dashboard</i></a>
        <a href="#" class="menuItem"><i _ngcontent-c3="" class="material-icons">notifications</i></a>
        <a href="#" class="menuItem"><i _ngcontent-c3="" class="material-icons">person</i></a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</mat-toolbar>
