<div class="contentLayout">
    <header class="header">
        <div>
            <img style="width:10%" src="assets/img/punchR.png" alt="punch'r">
            <h1>Punch'R</h1>
            <h2>Easily track your project task</h2>
            <br><br>
        </div>
    </header>

    <div class="container firstLayout">
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <mat-card class="firstCard">
                    <mat-card-content>
                        <h2 class="titreBadge">1</h2>
                        <br>
                        <br>
                        <h2>Time Tracking as easy as opening a Google Page</h2>
                        <br>
                        <p> Puch'R allow to you track your time very easily.<br>
                            It's very simple, choose your task and start your time tracking.<br>
                            When you finish your task, just press the stop button.<br>
                            Don't worry, if you forget to start your task, there's alway a way to track your time.
                        </p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <div style="text-align:center;margin-bottom:200px">
                    <mat-icon>access_time</mat-icon>
                </div>
                <div style="text-align:center;margin-top:100px;margin-left:-10%">
                    <mat-icon style="margin-right:50px">play_arrow</mat-icon>
                    <mat-icon>stop</mat-icon>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>


    <div class="container secondLayout">
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <div style="text-align:center;margin-bottom:200px">
                    <mat-icon>list_alt</mat-icon>
                </div>
                <div style="text-align:center;margin-top:100px;margin-left:-10%">
                    <mat-icon style="margin-right:50px">sentiment_very_dissatisfied</mat-icon>
                    <mat-icon>sentiment_very_satisfied</mat-icon>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="secondCard">
                    <mat-card-content>
                        <h2 class="titreBadge">2</h2>
                        <br><br>
                        <h2>Know who is available for the project</h2>
                        <br>
                        <p> Puch'R allow to ets you know, by allocating resources, whether a project is understaffed or
                            understaffed
                        </p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div class="container thirdLayout">
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <mat-card class="firstCard">
                    <mat-card-content>
                        <h2 class="titreBadge">3</h2>
                        <br><br>
                        <h2>Stats</h2>
                        <br>
                        <p> Puch'R allow to know where you are regarding your projects.
                            Is the health of the project good? or contrariwise, it is necessary to sound the alarm.<br>
                            By estimating the budget of a project, you can know this data and make the right decisions
                            for it.
                        </p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <div style="text-align:center;margin-bottom:200px">
                    <mat-icon>timeline</mat-icon>
                </div>
                <div style="text-align:center;margin-top:100px;margin-left:-10%">
                    <mat-icon style="margin-right:50px">trending_down</mat-icon>
                    <mat-icon>trending_up</mat-icon>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div class="container fourthLayout">
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <div style="text-align:center;margin-left:-10%">
                    <mat-icon style="margin-right:50px">done_outline</mat-icon>
                    <mat-icon>sentiment_very_satisfied</mat-icon>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="secondCard">
                    <mat-card-content>
                        <h2>Don't knock it till you've tried it.</h2>
                        <br>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>

